@use "../../styles/_variables.scss" as *;

.navbar {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}

.navbar-left h1 {
  display: flex;
  justify-content: center;
  @include tablet {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding-left: 1rem;
    color: #333;
  }
}

.navbar-right {
  @include tablet {
    display: flex;
  }
}

.navbar-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding-bottom: 1rem;
  @include tablet {
    padding: 0;
    margin: 1.5rem;
  }
}

.navbar-links li {
  font-size: 1rem;
}

.navbar-links a {
  text-decoration: none;
  color: #007bff; /* Blue link color */
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #0056b3; /* Darker blue on hover */
}
