@use "../../styles/partial/partial" as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $grey4;
  border-top: 5px solid black;

  &__name {
    display: none;
  }
}

.footer-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-logo {
  max-width: 150px;
}

.footer-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.footer-info h4 {
  margin: 0 0 10px;
  font-size: 1.2rem;
  color: #333;
}

.footer-info p {
  margin: 5px 0;
  color: #555;
}

.footer-info a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-info a:hover {
  color: #0056b3;
}
